.contact__container {
  margin: 0 auto;
  width: 90%;
  box-sizing: border-box;
  justify-content: center;
}

.shadow {
  font-size: 1.2em;
}

.contact__a__header {
  font-size: 1.4em;
  display: block;
  padding-top: 10px;
  color: #575454;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.contact__a__header:hover {
  color: orange;
  transition: all 0.2s ease;
  text-decoration: underline;
}

.fieldset {
  border: 1px solid #e1e1e1;
  padding: 15px;
}

#a_telephone {
  font-size: 1em;
  display: block;
  padding-top: 10px;
  color: #575454;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

#a_telephone:hover {
  color: orange;
  transition: all 0.2s ease;
  text-decoration: underline;
}

#a_email {
  font-size: 1em;
  display: block;
  padding-top: 10px;
  color: #575454;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

#a_email:hover {
  color: orange;
  transition: all 0.2s ease;
  text-decoration: underline;
}

.box-maps {
  margin-top: 20px;
}

.contact__content {
  margin-top: 10px;
}
.contact-info i {
  position: relative;
  top: 3px;
}

@media only screen and (max-width: 992px) {
  .contact-info {
    margin-top: 20px;
  }
}
