.footer {
  border-top: 10px solid #ff6d00;
  position: relative;
  overflow: hidden;
  background: url(../images/icons/bg-header-top.png);
}
.footer-widget > p {
  color: #909090;
}
.footer-logo {
  background: url(../images/icons/bg-h2-footer.png) no-repeat left center;
  line-height: 28px;
  margin-bottom: 12px;
  text-indent: -999em;
  margin-top: 8px;
  color: #686868;
  font-size: 20px;
  font-weight: normal;
}
.list-menu > li {
  color: #909090;
  font-size: 12px;
  font-family: Arial, sans-serif;
  padding-left: 18px;
}
.list-menu > li > a {
  color: #909090;
  text-decoration: none;
}
.list-menu > li > a:hover {
  color: #ff6d00;
  text-decoration: none;
}
.footer-widget > h4 {
  color: #686868;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 15px;
  margin-top: 6px;
  position: relative;
  margin: 0;
  padding: 16px 0 0;
}
.list-menu {
  line-height: 1.71429em;
}
.list-menu > li {
  color: #909090;
  font-size: 12px;
  font-family: Arial, sans-serif;
  padding-left: 18px;
}

.container-products {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
