body {
  background-color: #edf0f5;
}

.login-form {
  max-width: 40%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid var(--primary-grey);
  border-radius: 20px;
  background-color: #fff;
}

.login-form button {
  border-radius: 20px;
}

.login-form .support_options {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .login-form {
    max-width: 100%;
  }
}
