.details-product {
  width: 85%;
  margin-top: 20px;
}

/* Style the list */
ul.mybreadcrumb {
  padding: 0 16px;
  list-style: none;
  margin-bottom: 10px;
}

/* Display list items side by side */
ul.mybreadcrumb li {
  display: inline;
  font-size: 15px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.mybreadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: ">";
}

/* Add a color to all links inside the list */
ul.mybreadcrumb li a {
  color: #adadad;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.mybreadcrumb li a:hover {
  text-decoration: underline;
}

.large-image {
  border: 1px solid #e9e9e9;
  margin-bottom: 15px;
}

/* .list-thumbnail {
    margin-top: 15px;
} */

#left-image {
  margin-bottom: 10px;
}

.thbnail {
  padding-left: 0 !important;
  padding-right: 3px !important;
  cursor: pointer;
}

#thumbnail1,
#thumbnail2,
#thumbnail3,
#thumbnail4 {
  border: 1px solid #e9e9e9;
}

#thumbnail1:hover,
#thumbnail2:hover,
#thumbnail3:hover,
#thumbnail4:hover {
  border: 1px solid #ff6d00;
}

.best-product {
  border-left: 1px solid #e9e9e9;
}

.best-product h5 {
  margin-top: 0;
  padding-left: 10px;
}

.best-product .best-item {
  border-bottom: 1px solid #e9e9e9;
  overflow: hidden;
}

.best-product .best-item:last-child {
  border-bottom: none;
}

.custom-btn-number {
  display: inline;
}

#add-to-cart-form {
  margin-bottom: 30px;
}

.custom-btn-number label {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

#qty {
  margin: 0 20px 0;
  width: 40px;
}

.add-to-cart {
  background-color: #ff6d00;
  color: #fff;
  border: none;
  margin-top: 10px;
  padding: 5px 15px 5px;
  font-size: 18px;
}

.tag-product label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.tag-product a {
  color: #333;
}

.tag-product a:hover {
  color: #ff6d00;
  text-decoration: underline;
}

.special-price .product-price {
  font-size: 18px;
  font-weight: bold;
  color: #ff6d00;
}

.inventory-quantity {
  margin-top: 10px;
  margin-bottom: 20px;
}

.old-price .product-price-old {
  font-size: 18px;
  color: #adadad;
}

.best-item {
  margin-bottom: 10px;
}

.best-item .product-name a {
  color: #333;
}

.best-item .product-name a:hover {
  color: #ff6d00;
}

.best-item .special-price .product-price {
  font-size: 17px;
  color: #333;
}

.best-item .old-price .product-price-old {
  font-size: 16px;
}

.product-tab .tabs a {
  color: var(--primary-orange);
  text-transform: capitalize;
}

.product-tab .tabs .tab a {
  color: var(--secondary-grey);
}

.product-tab .tabs .tab a:hover {
  color: var(--primary-orange);
}

.product-tab .tabs .tab a.active {
  color: var(--primary-orange);
  background: transparent;
}

.product-tab .tabs .indicator {
  background-color: var(--primary-orange);
  color: var(--primary-orange);
}

#tab-content p {
  color: #909090;
}

#tab-content p span {
  font-size: 15px !important;
}

#tab-content ul li {
  font-size: 15px !important;
  margin: 10px 0 10px;
}

#tab-content ul li span {
  font-size: 15px !important;
  color: #909090;
}

.related-product .heading h5 a {
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

#btnnewreview {
  background-color: #ff6d00;
  color: #fff;
  border: none;
  padding: 10px 10px 10px;
  border-radius: 10px;
}

.carousel-prev {
  padding: 10px 10px 10px 7px;
  background-color: #e9e9e9;
}

.carousel-next {
  padding: 10px 10px 10px 7px;
  background-color: #e9e9e9;
}

.my.carousel {
  perspective: 800px;
  height: 400px;
  margin-top: -100px;
}

.my.carousel-item {
  cursor: pointer;
}

.my.carousel-item .product-thumbnail img {
  border-radius: 30px;
  border-top: 1px solid #e9e9e9;
}

.my.carousel-item .product-relate-info {
  border-radius: 30px;
  border-bottom: 1px solid #e9e9e9;
}

.my.carousel-item .product-name h6 {
  line-height: 20px;
}

.my.carousel-item .product-name a {
  color: #333;
}

.my.carousel-item .product-name a:hover {
  color: #ff6d00;
}

.my.carousel-item .product-price {
  color: #333;
}

.user-box {
  width: 68px;
  float: left;
}

.user-image img {
  border: 1px solid #adadad;
}

.user-name span {
  color: #adadad;
  font-weight: bold;
}

.review-star .checked {
  color: #ff6d00;
}

.review-box {
  float: left;
  width: 110px;
  height: 72px;
  padding-top: 13px;
  margin-left: 10px;
}

.clearfix {
  content: "";
  clear: both;
  display: block;
}

.user-comment {
  border-bottom: 1px solid #e9e9e9;
}

.user-comment h6 {
  padding-left: 10px;
  margin-bottom: 15px;
}

#tab-content p {
  margin-bottom: 10px;
}
